# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
*.whl

# Virtual Environment
venv/
.env/

# IDE
.vscode/
.idea/

# Pytest
.pytest_cache/

# OS
Thumbs.db
.DS_Store

# Upload folder (runtime generated)
securecrypto/upload/
